<?xml version="1.0" encoding="utf-8"?>
<!--
/*
**
** Copyright 2016, The Android Open Source Project
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
**     http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
*/
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings">

    <application>

        <activity android:name=".Settings$AltairSettingsActivity"
            android:label="@string/altair_settings_activity_title"
	        android:icon="@drawable/ic_homepage_altairsettings"
	        android:parentActivityName="com.android.settings">
            <intent-filter android:priority="69">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.settings.SHORTCUT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="com.altair.settings.AltairSettings" />
        </activity>

        <!-- Smart Pixels -->
        <activity android:name="Settings$SmartPixelsActivity"
                android:label="@string/smart_pixels_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="com.altair.settings.fragments.SmartPixels" />
        </activity>

        <!-- Navbar -->
        <activity
            android:name="com.altair.settings.fragments.navbar.BackLongPress"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.MinWidth"
            android:label="@string/app_picker_dialog_title" >
            <intent-filter>
                <action android:name="com.altair.settings.fragments.navbar.BackLongPress" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.altair.settings.fragments.navbar.BackDoubleTap"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.MinWidth"
            android:label="@string/app_picker_dialog_title" >
            <intent-filter>
                <action android:name="com.altair.settings.fragments.navbar.BackDoubleTap" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.altair.settings.fragments.navbar.HomeLongPress"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.MinWidth"
            android:label="@string/app_picker_dialog_title" >
            <intent-filter>
                <action android:name="com.altair.settings.fragments.navbar.HomeLongPress" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.altair.settings.fragments.navbar.HomeDoubleTap"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.MinWidth"
            android:label="@string/app_picker_dialog_title" >
            <intent-filter>
                <action android:name="com.altair.settings.fragments.navbar.HomeDoubleTap" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.altair.settings.fragments.navbar.AppSwitchLongPress"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.MinWidth"
            android:label="@string/app_picker_dialog_title" >
            <intent-filter>
                <action android:name="com.altair.settings.fragments.navbar.AppSwitchLongPress" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.altair.settings.fragments.navbar.AppSwitchDoubleTap"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.MinWidth"
            android:label="@string/app_picker_dialog_title" >
            <intent-filter>
                <action android:name="com.altair.settings.fragments.navbar.AppSwitchDoubleTap" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>

